@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-neon-orange: #FF6600;
  --color-neon-green: #00CC44;
  --color-neon-blue: #2266FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Tactical Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #020202;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
  border: 1px solid #333;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF6600;
  box-shadow: 0 0 10px rgba(255, 102, 0, 0.5);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #222 #020202;
}